.pop_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 200px;
  border-radius: 1rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #fff;

  input {
    width: 300px;
    height: 30px;
    padding: 0 0.5rem;
  }

  select {
    width: 300px;
    height: 30px;
    padding: 0 0.5rem;
  }

  button {
    background-color: #257ac3;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
